.certification{
    font-size: 2rem;
    color: #fff;
    background: url(../../images/kelly-sikkema-tk9RQCq5eQo-unsplash\(1\).jpg) center no-repeat;
    background-size: cover;
}
.certification-title{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: .1em;
    font-style: oblique;
}
.certification-title::first-letter{
    font-style: italic;
    font-size: 2em;
}
.certificate{
    margin-bottom: 1.3em;
}
.underline{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline hr{
    height: 3px;
    margin-top: -.3em;
    border-radius: 1em;
    background-color: #32dbc6;
    display: inline-block;
    width: 50px;
}
.icon{
    display: block;
    padding-bottom: .5em;
}

.certificate-url{
    font-size: .6em;
    overflow-wrap: break-word;
}

@media all and (min-width: 768px) {
    .certificate-url{
        font-size: .7em;
    }
}