.contact-container{
    color: #cccccc;
    padding: 2em 0;
}
.head > h3, .head > p {
    text-align: center;
}
.contact-line{
    flex-grow: 1;
    border-radius: 1em;
    display: inline-block;
    max-width: 250px;
    margin: 0 .3em;
    background-color: #cccccc;
}
.info-list{
    margin: 1.5em 0;
}
.contact-icon{
    color: #32dbc6;
}
.contact-form{
    margin: 1.5em 0;
}
.control{
    margin-bottom: 1em;
}
label{
    transition: all .5s ease-in;
    font-size: 1em;
}
input, textarea{
    color: rgba(220, 220, 220, .6);
    border: none;
    background-color: transparent;
    /* outline: red solid 1px; */
    border-bottom: 2px solid rgb(241, 247, 245);
    transition: font-size .5s ease-in, border-bottom  .5s ease-in, color .5s ease-in;
    width: 100%;
}
input:focus, textarea:focus{
    outline: none;
    border-bottom: 2px solid rgb(17, 238, 172);
    font-size: 1.5em;
    color: rgba(220, 220, 220, 1);
}
.send-message{
    padding: 1em 3em;
    color: #cccccc;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .5);
    background: linear-gradient(to left top,#111020, #000);
    transition: box-shadow .5s ease-in-out;
}
.send-message:hover, .send-message:focus{
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 1);
    outline: none;
}
