@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
html{ 
    font-size: 10px;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    /* height: 100vh; */
    /* background: linear-gradient(#111020, #143637) no-repeat center; */
    background: #111020;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
a{
    color: #32dbc6;
    text-decoration: none;
}
h3{
    font-weight: bolder;
    font-size: 30px;
}
a:hover, a:focus{
    opacity: .8;
    color: #32dbc6;
}
img{
    width: 100%;
    max-width: 100%;
}
header{
    padding: 2.5rem 0;
    font-size: 1.6rem;
    background: #111020;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.7);
    transition: all .5s ease-in;
}

.day-mode{
    transition: background-color .5s ease-in-out;
    border-radius: 50%;
    padding: .5em .5em;
}
.day-mode:focus, .day-mode:hover{
    background-color: #000;
}
.sunny, .moon{
    font-size: 2em;
    cursor: pointer;
    color: #aaa;
}
.header-scroll{
    padding: 1.5rem 0;
}
.header-image{
    height: 70vh;
    background: url(./images/hero_1.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.my-title{
    font-size: 5rem;
    font-weight: bolder;
    font-style: italic;
    color: #143637;
    text-align: center;
}
.container{
    width:95%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-toggler{
    color: #32dbc6;
    padding: 1.2rem 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 5%;
    z-index: 2000;
}
.brand{
    font-weight: bolder;
}
.brand a{
    opacity: 1;
    transition: opacity .5 ease-in;
}
.brand a:hover, .brand a:focus{
    color: #32dbc6;
    opacity: 0.5;
}
.fa-times, .fa-bars{
    padding: .7rem;
    transition: all .5s ease-in;
}
.fa-times{
    display: none;
}
.fa-bars:hover, .fa-bars:focus{
    border-radius: 50%;
    background: #000;
    opacity: 0.8;
}
.fa-times:hover, .fa-times:focus{
    border-radius: 50%;
    background: rgba(32, 79, 79, 0.7);
}
.nav-list{
    list-style: none;
    padding: 0;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(0, 0, 0); */
    /* color: #32dbc6; 
    transform: translateY(100%);
    transition: transform .5s ease-in;
    z-index: 1500; */
}
.nav-link{
    color: #32dbc6;
    border: 1px double rgba(255, 255, 255, .1);
    border-radius: .2em;
    opacity: 1;
    transition: all .5 ease-in;
}
.nav-link:hover, .nav-link:focus{
    opacity: 0.8;
}
.open .fa-bars{
    display: none;
}
.open .fa-times{
    display: block;
    position: fixed;
    right: 5%;
    color: #ddd;
}
.open .nav-list{
    transform: translateY(0);
}
/* layout starts */
section{
    font-size: 2rem;
}
.about-section{
    background: linear-gradient(45deg, #111020, #143637);
    background: url(./images/ross-sneddon-d-66ejdDbPk-unsplash\(1\).jpg) center no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 2rem 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}
.about-section > div{
    display: flex;
    flex-direction: column;
}
.about-img{
    margin: 0 auto;
    width: 80%;
    max-width: 40rem;
}
.about-img img{
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .9);
}
.about-img img:hover, .about-img img:focus{
    animation: rotateImage 2s forwards;
    /* animation-delay: 0s; */
}
.about-content p{
    font-size: 1em;
    margin-top: 2rem;
    text-align: center;
}
.open-projects{
    padding: 2rem 0;
}
#projects{
    border-radius: .2rem;
    transition: all .5s;
}
#projects:hover, #projects:focus{
    border-radius: 2rem;
}
.open-projects div{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.project-section{
    font-size: 1.5rem;
    color: #fff;
    background: #000;
    padding: 3rem 0;
    transition: all .5s ease-in;
    display: none;    
}
.make-projects-visible .project-section{
    display: initial;
}
.project-head{
    border-bottom: 1px solid #ddd;
    padding-bottom: .5rem;
    text-align: center;
    display: inline-block;
}
.btn-link{
    font-size: 1.5rem;
    border-radius: .2em;
    background: #32dbc6;
    color: rgb(14, 11, 11);
    opacity: 1;
    transition: all .5 ease-in;
}
.btn-link:hover, .btn-link:focus{
    background: #32dbc6;
    opacity: 0.8;
}
/* layout ends */

.project{
    margin: 2rem 0;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .3);
    
}
.project-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 3%;
}
.project-image{
    height: 350px;
    box-shadow: 0px 2px 3px rgba(255, 255, 255, .3);
    object-fit: cover;
}
.project-content{
    padding: 2rem;
}
.project-content p{
    margin: 2rem 0;
    text-align: justify;
    
}
.certification-section{
    padding: 3rem 0;
}
footer{
    font-size: 1.6rem;
    padding: 2rem 0;
    background: #111020;
}
footer a:hover{
    color: #32dbc6;
    opacity: 0.7;
}
.top, .down{
    padding: .5rem;
    transition: all 0.5s ease-in;
}
.top{
    position: fixed;
    bottom: 7%;
    right: 3%;
}
.down{
    position: fixed;
    bottom: 2%;
    right: 3%;
}
.top:hover, .top:focus, .down:hover, .top:focus{
    border-radius: 50%;
    background: #000;
    opacity: 0.7;
}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.loading{
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 50%;
    border-bottom: 1px solid #143637;
    border-top: 1px solid #32dbc6;
    border-left: 1px solid #ccc;
    border-right: 0px solid #000;
    animation: spin .5s infinite;
}
.error{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
.error h1{
    text-align: center;
    vertical-align: middle;
    font-size: 7em;
}

@media screen and (min-width: 768px){
    html{
        font-size: 11px;
    }
    .header-image{
        height: 70vh;
        background: url(./images/hero_1.jpg) center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .header-image h2{
        font-size: 4rem;
        font-weight: bolder;
        font-style: italic;
        color: #000;
    }
    /* .nav{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } */
    /* .nav-list{
        position: initial;
        height: initial;
        width: initial;
        color: #32dbc6;
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;
        transform: none;
        margin-top: 1rem;
    } */
    .nav-item{
        margin: 0;
        padding: 0;
        border-bottom: none;
    }
    .nav-link{
        color: #32dbc6;
    }
    
    .fa-bars{
        display: none;
    }
    .about-section > div{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .about-section p{
        font-size: 2rem;
        margin-top: initial;
    }
    .about-img{
        width: 100%;
        padding-right: 3rem;
    }
    .project-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .project-description{
        height: 15rem;
        overflow: auto;
    }
}

@media screen and (min-width: 992px){
    html{
        font-size: 12px;
    }
    .project-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-section > div{
        justify-content: center;
    }
    .about-img{
        width: 60%;
        padding-right: 3rem;
    }
    .about-content p{
        text-align: left;
        font-size: 2.5rem;
    }
}

/* animations */

@keyframes myTitle{
    0% {
        transform: translateY(4rem);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rotateImage{
    0% {
        /* transform: translateY(4rem); */
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
